fastapi==0.115.0
uvicorn[standard]==0.30.0
pydantic>=2.0.0
sqlalchemy[asyncio]>=2.0.32
asyncpg>=0.29.0
redis>=5.0.0
pydantic-settings>=2.3.0
grpcio>=1.62.0
protobuf>=4.25.0
grpcio-tools>=1.62.0
PyJWT[crypto]>=2.9.0


opentelemetry-sdk>=1.26.0
opentelemetry-exporter-otlp>=1.26.0
opentelemetry-instrumentation-fastapi>=0.47b0
opentelemetry-instrumentation-requests>=0.47b0
opentelemetry-instrumentation-sqlalchemy>=0.47b0
opentelemetry-instrumentation-redis>=0.47b0
prometheus-fastapi-instrumentator>=7.0.0
prometheus-client>=0.20.0
